@{
    Layout = "~/_Layout.cshtml";

    var customer = "";
    var width = "";
    var length = "";
    var drawer = "";
    var material = "";
    var rush = "";
    var orderNotes = "";
    var customerId = "";

    var deskEstimate = "";
    var drawerEstimate = "";
    var areaEstimate = "";
    var materialEstimate = "";
    var rushEstimate = "";
    var orderMessage = "";

    var visibility = "hide";

    var day14 = "";
    var day3 = "";
    var day5 = "";
    var day7 = "";

    var drawer0 = "";
    var drawer1 = "";
    var drawer2 = "";
    var drawer3 = "";
    var drawer4 = "";
    var drawer5 = "";
    var drawer6 = "";
    var drawer7 = "";

    var pine = "";
    var oak = "";
    var laminate = "";
    var walnut = "";
    var metal = "";
    var marble = "";

    if (!IsPost)
    {
        if (!Request.QueryString["ID"].IsEmpty() && Request.QueryString["ID"].IsInt())
        {
            customerId = Request.QueryString["ID"];
            var db = Database.Open("deskIt");
            var dbCommand = "SELECT * FROM Orders WHERE ID = @0";
            var row = db.QuerySingle(dbCommand, customerId);

            if (row != null)
            {
                customer = row.Customer;
                width = row.Width.ToString();
                length = row.Length.ToString();
                drawer = row.Drawer.ToString();
                material = row.Material;
                rush = row.Rush.ToString();
                if(row.OrderNotes != null) { orderNotes = row.OrderNotes.ToString(); }

                switch (material)
                {
                    case "Pine":
                        pine = "selected";
                        break;
                    case "Laminate":
                        laminate = "selected";
                        break;
                    case "Oak":
                        oak = "selected";
                        break;
                    case "Walnut":
                        walnut = "selected";
                        break;
                    case "Metal":
                        metal = "selected";
                        break;
                    case "Marble":
                        marble = "selected";
                        break;
                }
                switch (drawer)
                {
                    case "0":
                        drawer0 = "selected";
                        break;
                    case "1":
                        drawer1 = "selected";
                        break;
                    case "2":
                        drawer2 = "selected";
                        break;
                    case "3":
                        drawer3 = "selected";
                        break;
                    case "4":
                        drawer4 = "selected";
                        break;
                    case "5":
                        drawer5 = "selected";
                        break;
                    case "6":
                        drawer6 = "selected";
                        break;
                    case "7":
                        drawer7 = "selected";
                        break;
                }
                switch (rush)
                {
                    case "14":
                        day14 = "selected";
                        break;
                    case "3":
                        day3 = "selected";
                        break;
                    case "5":
                        day5 = "selected";
                        break;
                    case "7":
                        day7 = "selected";
                        break;
                }
            }
            else
            {
                Validation.AddFormError("No customer order was selected.");
            }
        }
        else
        {
            Validation.AddFormError("No customer order was selected.");
        }
    }

    if (IsPost)
    {
        Validation.RequireField("customer", "You must enter a name");
        Validation.RequireField("width", "Width is required");
        Validation.RequireField("length", "You haven't entered a length");
        Validation.RequireField("drawer", "Please provide a drawer count between 0 and 7.");
        Validation.RequireField("material", "Please choose an existing surface material");
        Validation.RequireField("rush", "You must choose a rush option");
        Validation.RequireField("customerid", "No customer ID was submitted!");

        if (Validation.IsValid())
        {
            customer = Request.Form["customer"];
            width = Request.Form["width"];
            length = Request.Form["length"];
            drawer = Request.Form["drawer"];
            material = Request.Form["material"];
            rush = Request.Form["rush"];
            orderNotes = Request.Form["orderNotes"];
            customerId = Request.Form["customerId"];
            deskEstimate = Functions.CalcTotalCost(int.Parse(width), int.Parse(length), int.Parse(drawer), material, int.Parse(rush)).ToString();

            if (Request.Form["getEstimate"] != null)
            {
                drawerEstimate = Functions.CalcDrawerCost(int.Parse(drawer)).ToString();
                areaEstimate = Functions.CalcAreaCost(int.Parse(width), int.Parse(length)).ToString();
                materialEstimate = Functions.CalcMaterialCost(material).ToString();
                rushEstimate = Functions.CalcRushOrderCost(int.Parse(width), int.Parse(length), int.Parse(rush)).ToString();
                visibility = "";
            }
            if (Request.Form["confirmOrder"] != null)
            {
                var db = Database.Open("deskIt");
                var updateCommand = "UPDATE Orders SET Customer=@0, Width=@1, Length=@2, Drawer=@3, Material=@4, Rush=@5, OrderNotes=@6, Price=@7 WHERE Id=@8";
                db.Execute(updateCommand, customer, width, length, drawer, material, rush, orderNotes, deskEstimate, customerId);
                orderMessage = "Your order for " + customer + " has been updated.";
                Response.AddHeader("REFRESH", "3;URL='orderList'");
            }
        }
    }
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Edit Order</title>
    <link rel="stylesheet" type="text/css" href="~/layout.css" />
</head>

<body>
    <h1>Edit this order</h1>
    <div class="message">@orderMessage</div>
    @Html.ValidationSummary()
    <form method="post">
        <fieldset class="blockText">
            <legend>Order Information</legend>

            <p>
                <label for="customer">Customer Name:</label><br />
                <input type="text" name="customer" value="@customer" />
            </p>

            <p>
                <label for="width">Width in Inches:</label><br />
                <input type="text" name="width" value="@width" />
            </p>
            <label for="length">Length in Inches:</label><br />
            <input type="text" name="length" value="@length" />
            </p>
            <label for="drawer">Drawer Count:</label><br />
            <select name="drawer" value="@Request.Form["Drawer"]">
                <option value="0" @drawer0>No Drawers</option>
                <option value="1" @drawer1>1 Drawer ($25)</option>
                <option value="2" @drawer2>2 Drawers ($50)</option>
                <option value="3" @drawer3>3 Drawers ($75)</option>
                <option value="4" @drawer4>4 Drawers ($100)</option>
                <option value="5" @drawer5>5 Drawers ($125)</option>
                <option value="6" @drawer6>6 Drawers ($150)</option>
                <option value="7" @drawer7>7 Drawers ($175)</option>
            </select>
            </p>

            <p>
                <label for="Material" class="field">Material Type:</label>
                <select name="material" value="@Request.Form[" Material"]">
                    <option value="Pine" @pine>Pine ($50)</option>
                    <option value="Laminate" @laminate>Laminate $100)</option>
                    <option value="Oak" @oak>Oak ($200)</option>
                    <option value="Walnut" @walnut>Walnut ($250)</option>
                    <option value="Metal" @metal>Metal ($300)</option>
                    <option value="Marble" @marble>Marble ($500)</option>

                </select>
            </p>

            <p>
                <label for="Rush" class="field">Rush Days:</label>
                <select name="rush" value="@Request.Form["Rush"]">
                    <option value="3" @day3>Super fast! (3 Day Rush)</option>
                    <option value="5" @day5>Fast! (5 Day Rush)</option>
                    <option value="7" @day7>Soon (7 Day Rush)</option>
                    <option value="14" @day14>No Rush (14 Days)</option>
                </select>
            </p>

            <p>
                <label for="OrderNotes" class="field">Special Notes:</label>
                <textarea name="orderNotes" maxlength="100">@orderNotes</textarea>
            </p>

            <input type="hidden" name="customerid" value="@customerId" />

            <p><input type="submit" name="getEstimate" value="Get Estimate for Changes" /></p>
        </fieldset>
        <fieldset name="priceEstimate" class="rightColumn @visibility">
            <legend>Estimated Cost</legend>
            <table>
                <tr>
                    <td>Order Name</td>
                    <td>@customer</td>
                </tr>
                <tr>
                    <td>Desk Size of @width" x @length"</td>
                    <td>$@areaEstimate</td>
                </tr>
                <tr>
                    <td>@drawer Drawers</td>
                    <td>$@drawerEstimate</td>
                </tr>
                <tr>
                    <td>@material Surface Material:</td>
                    <td>$@materialEstimate</td>
                </tr>
                <tr>
                    <td>@rush Day Delivery:</td>
                    <td>$@rushEstimate</td>
                </tr>
                <tr>
                    <td>Total Cost</td>
                    <td>$@deskEstimate</td>
                </tr>
            </table>
            <input type="submit" name="confirmOrder" value="Confirm Changes" />
        </fieldset>
    </form>
    <p><a href="~/orderList">Return to desk order listing</a></p>
</body>
</html>