@{
    Layout = "~/_Layout.cshtml";

    var username = "";
    var password = "";
    var message = "";



    if (IsPost)
    {
        username = Request["username"];
        password = Request["password"];
        if (WebSecurity.Login(username, password, true))
        {
            message = "Thank you for logging in. You will be redirected to the home page in a moment";
            Response.AddHeader("REFRESH", "3;URL='Home'");
        }
        else
        {
            message = "Login was not successful. Maybe you should create an account first?";
        }
    }
}
<header>
    <h1>Login</h1>
</header>
<section>
    <form method="post">
        <p>
            @if (WebSecurity.IsAuthenticated && !IsPost)
            {
                <span>You are currently logged in as @WebSecurity.CurrentUserName.
                    <a href="@Href("~/Logout")">Log out</a></span>

            }
            @if (message != "")
            {
                <span class="message">@Html.Raw(message)</span>
            }
            <br/>Please login before placing or reviewing an order. 
            <br />No account? No problem! You can <a href="@Href("~/Register")">register a new account</a> today.
</p>
        <fieldset>
            <legend>Login</legend>
            <p>
                <label for="username">Username:</label><br />
                <input type="text" name="username" id="username" value="" />
            </p>
            <p>
                <label for="password">Password:</label><br />
                <input type="password" name="password" id="password" value="" />
            </p>
            <p>
                <input type="submit" value="Submit" />
            </p>
        </fieldset>
        <p><a href="@Href("~/Home")">Return to home page</a></p>

    </form>
    
</section>
