@{
    Layout = "~/_Layout.cshtml";

    Validation.RequireField("Customer", "You must enter a name");
    Validation.RequireField("Width", "Width is required");
    Validation.RequireField("Length", "You haven't entered a length");
    Validation.RequireField("Drawer", "You need to enter in a number of drawers between 0 and 7");
    Validation.RequireField("Material", "Choose a surface material");
    Validation.RequireField("Rush", "You can only rush an order by 3, 5, or 7 days");

    var db = Database.Open("deskIt");
    var customer = "";
    var width="";
    var length="";
    var drawer="";
    var material = "";
    var rush = "";
    var dateSubmitted = DateTime.Now.Date;

    var deskEstimate = "";
    var drawerEstimate="";
    var areaEstimate="";
    var materialEstimate="";
    var rushEstimate="";
    var orderMessage = "";
    var visibility = "hide";

    if (IsPost && Validation.IsValid())
    {
        customer = Request.Form["customer"];
        width = Request.Form["width"];
        length = Request.Form["length"];
        drawer = Request.Form["drawer"];
        material = Request.Form["material"];
        rush = Request.Form["rush"];


        if (Request.Form["getEstimate"] != null)
        {
            deskEstimate = Functions.CalcTotalCost(int.Parse(width), int.Parse(length), int.Parse(drawer), material, int.Parse(rush)).ToString();
            drawerEstimate = Functions.CalcDrawerCost(int.Parse(drawer)).ToString();
            areaEstimate = Functions.CalcAreaCost(int.Parse(width), int.Parse(length)).ToString();
            materialEstimate = Functions.CalcMaterialCost(material).ToString();
            rushEstimate = Functions.CalcRushOrderCost(int.Parse(width), int.Parse(length), int.Parse(rush)).ToString();
            visibility = "";

        }
        if (Request.Form["confirmOrder"] != null)
        {
            var insertCommand = "INSERT INTO Orders (Customer, Width, Length, Drawer, Material, Rush, dateSubmitted ) VALUES(@0, @1, @2, @3, @4, @5, @6)";
            db.Execute(insertCommand, customer, width, length, drawer, material, rush, dateSubmitted);
            orderMessage = "Your order for " + customer + " has been placed.";
            Response.AddHeader("REFRESH", "4;URL='orderList'");
        }


    }
}

<header>
    
    <h2>Customize your order</h2>
    
</header>
<section>
    <div class="message">@orderMessage</div>
    @Html.ValidationSummary()
        <form method="post">
            <fieldset class="leftColumn">
                <legend>Order Information</legend>
                <p>
                    <label for="Customer" class="field">Order Name:</label><br />
                    <input type="text" name="customer" placeholder="Ex. Corner Office Desk" value="@Request.Form["Customer"]" />
                    @Html.ValidationMessage("customer")
                </p>
                <h4>Please choose your measurements. </h4>
                <p>The base desk price of $$$ allows up to 1000 square inches in surface area. An extra $5 per inch is charged after that point.</p>
                <p>
                    <label for="Width" class="field">Desired Width:</label>
                    <input type="text" name="width" value="@Request.Form["Width"]" /> (inches)
                    @Html.ValidationMessage("width")
                </p>

                <p>
                    <label for="Length" class="field">Desired Length:</label>
                    <input type="text" name="length" placeholder="" value="@Request.Form["Length"]" /> (inches)
                    @Html.ValidationMessage("length")
                </p>
                <p>
                    <label for="Drawer" class="field">Drawer Count:</label>
                    <select name="drawer" value="@Request.Form["Drawer"]">
                        <option value="0">No Drawers</option>
                        <option value="1">1 Drawer ($25)</option>
                        <option value="2">2 Drawers ($50)</option>
                        <option value="3">3 Drawers ($75)</option>
                        <option value="4">4 Drawers ($100)</option>
                        <option value="5">5 Drawers ($125)</option>
                        <option value="6">6 Drawers ($150)</option>
                        <option value="7">7 Drawers ($175)</option>
                    </select>
                    @Html.ValidationMessage("drawer")
                </p>
                <p>
                    <label for="Material" class="field">Desk Material:</label>
                    <select name="material" value="@Request.Form["Material"]">
                        <option value="Pine">Pine ($50)</option>
                        <option value="Laminate">Laminate $100)</option>
                        <option value="Oak">Oak ($200)</option>
                        <option value="Walnut">Walnut ($250)</option>
                        <option value="Metal">Metal ($300)</option>
                        <option value="Marble">Marble ($500)</option>

                    </select>
                    @Html.ValidationMessage("material")
                </p>
                <p>
                    <label for="Rush" class="field">I want my order to arrive:</label>
                    <select name="rush" value="@Request.Form["Rush"]">
                        <option value="3">Super fast! (3 Day Rush)</option>
                        <option value="5">Fast! (5 Day Rush)</option>
                        <option value="7">Soon (7 Day Rush)</option>
                        <option value="14">No Rush (14 Days)</option>
                    </select>
                    @Html.ValidationMessage("rush")
                </p>

                <p><input type="submit" name="getEstimate" value="Get Estimate"/></p>
            </fieldset>
            <fieldset name="priceEstimate" class="rightColumn @visibility">
                <legend>Estimated Cost</legend>
                <table>
                    <tr>
                        <td>Order Name</td>
                        <td>@customer</td>
                    </tr>
                    <tr>
                        <td>Desk Size of @width" x @length"</td>
                        <td>$@areaEstimate</td>
                    </tr>
                    <tr>
                        <td>@drawer Drawers</td>
                        <td>$@drawerEstimate</td>
                    </tr>
                    <tr>
                        <td>@material Surface Material</td>
                        <td>$@materialEstimate</td>
                    </tr>
                    <tr>
                        <td>Expected Delivery in @rush days</td>
                        <td>$@rushEstimate</td>
                    </tr>
                    <tr>
                        <td>Total Cost</td>
                        <td>$@deskEstimate</td>
                    </tr>
                </table>
            <input type="submit" name="confirmOrder" value="Confirm Order" />
            </fieldset>
        </form>
    
    <a href="/orderList">View Customer Orders</a>
</section>