@{
    Layout = "~/_Layout.cshtml";

    Validation.RequireField("Customer", "You must enter a name");
    Validation.RequireField("Width", "Width is required");
    Validation.RequireField("Length", "You haven't entered a length");
    Validation.RequireField("Drawer", "You need to enter in a number of drawers between 0 and 7");
    Validation.RequireField("Material", "Choose a surface material");
    Validation.RequireField("Rush", "You can only rush an order by 3, 5, or 7 days");

    var db = Database.Open("deskIt");
    var customer = "";
    var width = "";
    var length = "";
    var drawer = "";
    var material = "";
    var rush = "";
    var dateSubmitted = DateTime.Now.Date;


    if (IsPost && Validation.IsValid())
    {
        customer = Request.Form["customer"];
        width = Request.Form["width"];
        length = Request.Form["length"];
        drawer = Request.Form["drawer"];
        material = Request.Form["material"];
        rush = Request.Form["rush"];
        var insertCommand = "INSERT INTO Orders (Customer, Width, Length, Drawer, Material, Rush, dateSubmitted ) VALUES(@0, @1, @2, @3, @4, @5, @6)";
        db.Execute(insertCommand, customer, width, length, drawer, material, rush, dateSubmitted);
        Response.Redirect("~/orderList");

    }
}

<header>
    
    <h2>Order Below</h2>
    
</header>
<section>
    <h2>Customize your order</h2>
    @Html.ValidationSummary()
    <form method="post">
        <fieldset>
            <legend>Order Information</legend>
            <p>
                <label for="Customer" class="field">Name:</label><br />
                <input type="text" name="customer" value="@Request.Form["Customer"]" />
                @Html.ValidationMessage("customer")
            </p>
            <p>Please choose your measurements, the smallest table available is 1000 square inches. Other size is $5 per inch</p>
            <p>
                <label for="Width" class="field">Width:</label><br />
                <input type="text" name="width" value="@Request.Form["Width"]" />
                @Html.ValidationMessage("width")
            </p>

            <p>
                <label for="Length" class="field">Length:</label><br />
                <input type="text" name="length" value="@Request.Form["Length"]" />
                @Html.ValidationMessage("length")
            </p>
            <p>Would you like any drawers? Each drawer adds $25 to the desk total</p>

            <p>
                <label for="Drawer" class="field">Drawer Count:</label> <br /><br />
                <input type="text" name="drawer" value="@Request.Form["Drawer"]" />
                @Html.ValidationMessage("drawer")
            </p>
            <p>We have 6 available desk materials. You can choose between walnut, oak, pine, metal, marble, and laminate</p>
            <p>
                <label for="Material" class="field">Material</label><br />
                <input type="text" name="material" value="@Request.Form["Material"]" />
                @Html.ValidationMessage("material")
            </p>
            <p>You can rush your desk order by 3, 5, or 7 days. Otherwise it will be take 14 days</p>
            <p>
                <label for="Rush" class="field">Rush Days</label><br />
                <input type="text" name="rush" value="@Request.Form["Rush"]" />
                @Html.ValidationMessage("rush")
            </p>

            <p><input type="submit" name="buttonSubmit" value="Confirm Order" /></p>
        </fieldset>
    </form>
    <a href="/orderList">View Customer Orders</a>
</section>